* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  *:focus {
    outline: none; }

*::-webkit-input-placeholder {
  color: #c0c0c0;
  opacity: 1; }

*:-moz-placeholder {
  color: #c0c0c0;
  opacity: 1; }

*::-moz-placeholder {
  color: #c0c0c0;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #c0c0c0;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #000; }

body input:required:valid,
body textarea:required:valid {
  color: #000; }

html, body {
  height: 100%; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  opacity: 1;
  line-height: 1.5; }

img {
  max-width: 100%; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

/*-----------------BUTTONS--------------- */
.btn_simple {
  color: #722ed1;
  border: 1px solid #722ed1;
  border-radius: 20px;
  font-weight: 600;
  text-decoration: none;
  padding: 6px 34px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .btn_simple:hover {
    background-color: #722ed1;
    color: #fff; }

.btn {
  color: #fff;
  background-color: #722ed1;
  -webkit-box-shadow: 0 3px 6px black;
          box-shadow: 0 3px 6px black;
  text-decoration: none;
  border-radius: 24px;
  padding: 14px 40px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .btn:hover {
    background-color: #fff;
    color: #111; }
  .btn.btn_white {
    color: #111;
    background-color: #fff; }
    .btn.btn_white:hover {
      color: #fff;
      background-color: #722ed1; }

/*--------------------------------------- */
/*----------COMMON STYLE HEADINGS-------- */
h1, h2, h3, h4 {
  line-height: 1.3; }

/*--------------------------------------- */
#top_banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#header {
  padding-top: 24px; }
  #header .inner_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #header .inner_header > .logo {
      display: block;
      width: 48px;
      height: 48px; }
      #header .inner_header > .logo > img {
        width: 100%; }
  #header .right_side_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    #header .right_side_header .mnu_top {
      list-style: none; }
      #header .right_side_header .mnu_top > li {
        display: inline-block;
        position: relative; }
        #header .right_side_header .mnu_top > li a {
          display: block;
          padding: 5px 40px 5px 0;
          text-decoration: none;
          font-weight: 500;
          color: #000;
          -webkit-transition: color 0.4s ease;
          transition: color 0.4s ease; }
          #header .right_side_header .mnu_top > li a:hover {
            color: #722ed1; }
        #header .right_side_header .mnu_top > li > .sub_menu {
          position: absolute;
          top: 35px;
          background-color: #fff;
          -webkit-box-shadow: 0 3px 6px black;
                  box-shadow: 0 3px 6px black;
          z-index: 10;
          border-radius: 5px;
          padding: 5px;
          -webkit-animation: opac 0.6s;
                  animation: opac 0.6s;
          display: none; }
          #header .right_side_header .mnu_top > li > .sub_menu > li {
            display: block; }
            #header .right_side_header .mnu_top > li > .sub_menu > li > a {
              padding: 3px 10px;
              font-size: 14px; }
        #header .right_side_header .mnu_top > li.has_sub_menu:hover > .sub_menu {
          display: block; }
        #header .right_side_header .mnu_top > li.has_sub_menu::after {
          content: "";
          display: block;
          width: 8px;
          height: 4px;
          background-image: url("/img/arrow_down.svg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          position: absolute;
          top: 17px;
          right: 25px; }

@-webkit-keyframes opac {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes opac {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.notif {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F9F0FF;
  border-radius: 30px;
  padding: 10px 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .notif img {
    width: 16px;
    height: auto;
    margin-right: 7px; }
  .notif p {
    color: #722ed1; }
  .notif a {
    text-decoration: none;
    color: #722ed1;
    border-bottom: 1px solid #722ed1;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .notif a:hover {
      color: #5b25a7;
      border-color: #5b25a7; }

.main_banner {
  padding: 240px 0 380px; }
  .main_banner .mb__info > h1 {
    color: #160637;
    font-size: 50px;
    font-weight: 900;
    line-height: 1.2;
    margin-top: 10px;
    max-width: 430px; }
  .main_banner .mb__info > .descr {
    color: #8989A2;
    font-size: 18px;
    margin: 14px 0 44px; }
  .main_banner .mb__info > .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .main_banner .mb__info > .btns > .btn_white {
      margin-left: 16px; }

section {
  padding: 100px 0; }
  section#top_banner {
    padding: 0; }

#advantages .notif {
  margin: 0 auto; }
  #advantages .notif img {
    width: 26px;
    height: auto;
    margin-right: 7px; }
#advantages .heading_main {
  max-width: 500px;
  margin: 32px auto 48px; }
  #advantages .heading_main h2 {
    color: #160637;
    font-size: 38px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 12px;
    line-height: 1.3; }
  #advantages .heading_main .description {
    color: #8989A2;
    text-align: center;
    font-size: 18px; }
#advantages .row_adv .item_adv > img {
  width: 48px;
  height: 48px;
  border-radius: 50%; }
#advantages .row_adv .item_adv > .heading {
  font-size: 24px;
  font-weight: 700;
  color: #160637;
  margin: 24px 0 16px; }
#advantages .row_adv .item_adv > .descr {
  font-size: 18px;
  color: #8989A2; }

section.information .img-responsive {
  margin: 0 auto; }
section.information .right_info {
  padding-left: 50px; }
  section.information .right_info > h3 {
    color: #160637;
    font-size: 38px;
    font-weight: 900;
    line-height: 1.4;
    margin: 32px 0 16px;
    max-width: 352px; }
  section.information .right_info > .descr {
    color: #8989A2;
    font-size: 16px; }

#reviews {
  padding: 300px 0;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/img/reviews/reviews_bg.svg"); }
  #reviews .item_rev {
    display: none;
    -webkit-animation: opac 0.8s;
            animation: opac 0.8s; }
    #reviews .item_rev.active {
      display: block; }
    #reviews .item_rev > .quotes {
      max-width: 660px;
      height: 100px;
      color: #160637;
      font-size: 22px;
      margin: 0 auto 16px; }
    #reviews .item_rev > img {
      width: 80px;
      height: 80px;
      border-radius: 50%; }
    #reviews .item_rev > .name {
      margin-top: 16px; }
    #reviews .item_rev > .name, #reviews .item_rev > .position {
      color: #111;
      font-weight: 900; }
  #reviews .line {
    height: 1px;
    width: 100%;
    background-color: #DEC9FA;
    margin: 56px 0; }
  #reviews .nav_rev {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    #reviews .nav_rev > div {
      width: 16%;
      -webkit-filter: grayscale(1);
              filter: grayscale(1);
      cursor: pointer;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease; }
      #reviews .nav_rev > div:hover, #reviews .nav_rev > div.active {
        -webkit-filter: grayscale(0);
                filter: grayscale(0);
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
      #reviews .nav_rev > div > img {
        margin: 0 auto; }
